<p>Enter a domain</p>

<form method="/get" action="/">
  <label for="url">url</label>
  <input type="url" name="url" id="url" required value="<%= @locals[:url]%>">
  <button>Submit</button>
</form>

<% if @locals[:name_servers] %>
  <p>Name Servers:</p>
  <ul>
    <% @locals[:name_servers].each do |name_server| %>
      <li><%= name_server.name.to_s %></li>
    <% end %>
  </ul>
<% end %>
